<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Video Splitter</title>

    <%= javascript_include_tag "video_splitter" %>
    <%= stylesheet_link_tag    "video_splitter" %>
    <%= csrf_meta_tags %>

  </head>
  <body>

    <%= yield %>

  </body>
</html>
