<div class="accordion-item">
  <form>
    <h4>SubClip form goes here</h4>
    <small>
      You can either override this partial by placing a file with the same name
      in the same path ( Rails.root/app /views /video_ splitter/ application/ _form.html.erb )
      of your host application (in this case you'll conserve the collapsible accordion behavior),
      or override the whole _output_file.html.erb partial in the same way.
    </small>
  </form>
</div>