<div id="media_input" class="ui-widget-content ui-corner-all">
  <h3 class="ui-widget-header">Input file</h3>
  <div id="input_list" class="scrollable-wrapper">
    <div class="scrollable tree">
      <%= input_list %>
    </div>
  </div>
</div>