<div id="media_output" class="ui-widget-content ui-corner-all">
  <h3 class="ui-widget-header">Output file</h3>
  <div id="output_list" class="scrollable-wrapper">
    <div class="accordion scrollable buttons">

      <%= render :partial => "video_splitter/application/output_file", :collection => @outputs %>
      
    </div>
  </div>
</div>